<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Inclusion Intelligence System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
</head>
  <body>
    <div class="page">
      <div class="dots"></div>
      <div class="top-circle"></div>
      <div class="top-circle2"></div>
      
      

      <div class="brand">
          <div class="logo">
            <img src="{{ url_for('static', filename='images/vhan-logo.png') }}" alt="Logo">
          </div>
          <div class="brand-text">
            <h1>Inclusion Intelligence System</h1>
            <p>Empowering Inclusion. Enriching Lives.</p>
          </div>
        </div>

      <div class="left-section">
        
        <div class="tagline">
          Where <span class="highlight diversity">Diversity</span> thrives,<br>
          <span class="highlight equity">Equity</span> leads,<br>
          <span class="highlight inclusion">Inclusion</span> happens.
        </div>

      </div>
      <div class="card">
        <h2>Welcome Back!</h2>
        <p class="sub">Sign in to continue to your account</p>

        <form method="POST" action="{{ url_for('login.login') }}">
          <div class="input-box">
            <input type="email" name="email" placeholder="Email Address" required>
            
          </div>

          <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
          </div>

          <div class="row-between">
            <label class="remember">
              <input type="checkbox">
              <span>Remember me</span>
            </label>

            <a href="#" class="link" onclick="openForgotModal(event)">Forgot password?</a>
          </div>

          <button type="submit" class="btn">Login</button>

          
          <p class="bottom-text">
            Don’t have an account?
            <a href="/register">Register here</a>
          </p>
        </form>
      </div>

      <div class="waves">
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="wave3"></div>
      </div>
    </div>
    <div id="forgotModal" class="modal">
      <div class="modal-box">
        <button class="modal-close" onclick="closeForgotModal()">×</button>

        <h2>Forgot Password</h2>
        <p>Enter your work email and we’ll generate a reset link.</p>

        <form action="/forgot-password" method="POST">
          <input type="email" name="email" placeholder="Enter your work email" required>
          <button type="submit">Send Reset Link</button>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>  
  </body>
</html>